<h1>Listing favorite_quotes</h1>

<table>
  <thead>
    <tr>
      <th>Quote</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @favorite_quotes.each do |favorite_quote| %>
      <tr>
        <td><%= favorite_quote.quote %></td>
        <td><%= favorite_quote.user %></td>
        <td><%= link_to 'Show', favorite_quote %></td>
        <td><%= link_to 'Edit', edit_favorite_quote_path(favorite_quote) %></td>
        <td><%= link_to 'Destroy', favorite_quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Favorite quote', new_favorite_quote_path %>
